/*
color pallet
black = #000
dark blue/teal = #295E78
orange accent = #BE813A
lighter blue = #f1fbfe

*/

@import url('https://fonts.googleapis.com/css?family=Marck+Script');

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

header, footer {
    width: 100%;
    background-color: #51484f;
    margin: 0 auto;
    padding: 20px 30px;
    font-family: 'Palatino'
}

header {
  border-bottom: solid;
  border-color: #BE813A;
}


body {
    font-family: 'Verdana', sans-serif;
}

a {
    color: #BE813A;
    text-decoration: none;
}

a:hover {
    color: #295E78;
}

div.page {
    width: 100%;
    height: 375px;
    margin: 0 auto;
    background: #51484f;
    padding: 20px 30px;
    color: #f1fbfe;
}

header h1 {
    color: #f1fbfe;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
    font-family: 'Marck Script'
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block-inline;
}

li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 5px;
    border: 1px solid #BE813A;
}

li.active {
    color: #ffffff;
    text-decoration: none;
}

footer p {
  color: #ffffff;
}

.center-box {
  margin: auto;
}
